* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  body {
    font-family: 'Segoe UI', sans-serif; /* define a fonte principal*/
    background: linear-gradient(to bottom, #112553, #0E71C2); /* define o fundo da página*/ 
    color: #FFFFFF; /* define a cor padrão do texto */
    line-height: 1.6; /* define o espaçamento entre linhas de texto */
    min-height: 100vh; /* altura minima visivel da pagina de 100vh vh = viewport height */
  }

  a {
    font-size: large; /* define tamanho da fonte */
    color: white; /* define a cor do texto */
}

header {
    list-style: none;
    background-color: #112553; /* cor de fundo do header */
    display: flex; /* organiza os elementos internos (logo-menu-botões) de forma alinhada e adaptada */
    justify-content: center; /* alinha tudo horizontalmente no centro */
    flex-wrap: wrap; /* deixa o cabeçalho mais responsivo */
}

header table { /* estiliza as tabelas do header */
    background: transparent; /* deixa o fundo transparente */
    padding: 7px 0; /* define o tamanho dentro da tabela */
    width: 100%; /* tabela ocupando todo o espaço que tem no header */
    text-align: end; /* coloca o texto dentro da tabela no fim da linha */ 
    
}

header table img{
  display: flex;
   /* aplica o flex na imagem, o navegador trata a imagem como um elemento flexivel */ 
}

header table a { /* qualquer tabela dentro do header passa por essa estilização */
  padding: 8px 16px; /* deixa o link com aparência de botão */
  border-radius: 5px; /* arredonda o canto dos links */ 
  text-decoration: none; /* remove o padrão sublinhado dos links */
}

header table a:hover {
    background-color: #101386;
    /* passar o mouse sobre os links muda a cor como um estilo */
}

#h1Login {
    font-size: 2.7rem;
    margin: 30px auto; /* espaçamento externo */
    text-align: center; /* centraliza o texto dentro do elemento*/
}

table {
    width: auto; /* Define a largura da tabela automaticamente */
    margin: 20px auto; 
}

#tblLogin tr td:first-child {
    text-align: right; /* Alinha o conteúdo da  */
    padding-right: 10px; /*  */
    white-space: nowrap;
}

#tblLogin tr td:last-child {
    text-align: left;
    /* alinha tudo de uma forma organizada com elementos a direita e esquerda */ 
}

button { /* configurações do botão */ 
    padding: 12px;
    background-color: #101386;
    color: white;
    font-weight: bold; /* texto do botão em negrito */ 
    border: none; /* sem borda */
    border-radius: 5px; /* arredonda os cantos do botão */ 
    transition: 0.3s; /* muda as caracteristicas do botão quando clicar */
  }
  
  button:hover {
    background-color: #0e0c73;
    /* estiliza quando passa o mouse por cima */
  }

  input, select { /* estiliza todos os campos de digitação --> formularios da página */
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 1rem; /* fonte raiz vinda do html "rem" */
    font-family: sans-serif;
    background-color: #FFFFFF;
    color: #112553;
  }
  
  input::placeholder { /* estiliza o texto que aparece dentro do campo antes do usuário digitar */
    color: #999;
  }

footer {
    background-color: #112553;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    position: sticky; /* fixa o rodapé em uma posição referente a rolagem do usuario */
    top: 100vh; /* posiciona o rodapé abaixo de tudo na página */
    bottom: 0; /* faz o mesmo que o top acima */
    width: 100%;
  }

#MainDash {

table { /* estiliza todas as tabelas da página */ 
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: center;
}

table thead tr { /* estiliza as linhas do cabeçalho de todas as tabelas */
  background-color: #112553;
  color: white;
  text-align: left;
  text-align: center;
}

table thead a{ /* seleciona todos os links que estão dentros das tabelas (serve para elementos clicaveis dentro das tabelas) */
  text-decoration: none;
}

table th { /* seleciona todos os elementos dos cabeçalhos --> contém os titulos */ 
  padding: 12px 15px;
  font-weight: 600; /* Faz os títulos das colunas de destacarem do conteúdo */
}

table tbody tr { /* Seleciona todas as linhas que estão dentro do corpo da tabela */
  border-bottom: 1px solid #dddddd;
}

table tbody tr:hover { /* Seleciona as linhas do corpo da tabela quando o mouse estiver sobre elas */
  background-color: rgba(0, 0, 0, 0.3);
}

table td { /* Seleciona todas as células de conteúdo de qualquer tabela */
  padding: 12px 15px; /* espaçamento entre conteudo e linhas da tabela */
}

table tfoot td { /* Seleciona todas as células dentro do rodapé da tabela */
  padding: 5px; 
  text-align: center;
  background-color: #112553;
  font-weight: bold;
  /* (tfoot) contém as informações finais da tabela */
}

table tfoot a { /* Seleciona todos os links (a) dentro do (tfoot) das tabelas */
  text-decoration: none;
  margin: 0 30px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 29px;
}

table tfoot a:hover { /* Seleciona todos os links dentro do (tfoot) da tabela enquanto o mouse está sobre eles */
  background-color: #112553;
}
}

#listaTarefas{
  li { /* Seleciona todos os itens dentro do elemento com id */
    background: #ea4921;
    color: white;
    padding: 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Muda o cursor para uma mãozinha quando o usuário passa o mouse, indicando que o item é clicável */
    border-radius: 5px;
    max-width: 550px; /* limita a largura maxima do item */
}}